* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
   background: linear-gradient(rgba(39, 35, 35, 0.5), rgba(74, 71, 71, 0.6)), url("{{asset('backend/img/bg-profile.jpg')}}") center / cover no-repeat;
   overflow-x: hidden;
   overflow-y: hidden;
   height: 100vh;
} */

body::-webkit-scrollbar {
   width: 0px;
}

.login input {
   box-shadow: 1px 1px 1px black;
}

.show-article img{
   height: 70vh;
   width: 100%;
}

#light-dark-mode .fa-moon::before {
   content: "\f1bf"
}

.n_{
   width: 67px;
}